/* body{
    color: red;
    background-color: yellowgreen;
} */
 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }
 .inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}
header{
    background-color: #FFFFFF;
    max-width: 1600px;
    margin: auto;

}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 16px;
    margin-bottom: 16px;
    margin-left: 120px;
    margin-right: 120px;
}
.menu{
    display: flex;
    gap: 32px;
    
}
.menu li{
    list-style: none;
} 
a{
    text-decoration: none;
    color: black;
}
.btn{
    padding: 12px 16px 12px 16px;
    background-color: #469165;
    color: white;
    border: none;
    border-radius: 4px;
}