/* body{
    color: red;
    background-color: yellowgreen;
} */
 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }
 .inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

section{
    margin: 120px;
}

/* Header */

header{
    background-color: #FFFFFF;
    max-width: 1600px;
    margin: auto;

}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 16px;
    margin-bottom: 16px;
    margin-left: 120px;
    margin-right: 120px;
}
.menu{
    display: flex;
    gap: 32px;
    
}
.menu li{
    list-style: none;
} 
a{
    text-decoration: none;
    color: black;
}
.btn{
    padding: 12px 16px 12px 16px;
    background-color: #469165;
    color: white;
    border: none;
    border-radius: 4px;
}


/* banner */



#banner{
    background-image: url("./../images/hero-bg.png");
    width: full;
    height: 674px;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

}
.bt{
    background-color: white;
    width: full;
    padding: 8px 12px 8px 12px;
    border-radius: 100px;
    display: inline;
    
}
.bt span{
    color: #469165;
    font-weight: bold;
    display: inline;
    
}
/* .bt div{
    width: 10px;
    height: 10px;
    background-color: #469165;
    border-radius: 100px;
    float: left;
    display: inline;
} */
.bann_head{
    font-size: 72px;
    font-weight: bold;
    color: white;
    line-height: 84px;
    margin-top: 24px;
}
.bann_head span{
    color: #469165;
}
.bann_p{
    font-size: 18px;
    font-weight: 400;
    color: white;
    margin-top: 16px;
    margin-bottom: 32px;
    line-height: 24px;
}

.banner_btn{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.ban_btns{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 16px;
    color: white;
    border-radius: 4px;
}
.banner_btn1{
    background-color: #469165;
    border: none;
}
.banner_btn2{
    background-color: transparent;
    border: 2px solid white;
}

/* Notes Section */


.Notes_Section{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.note_Head{
    font-size: 48px;
    font-weight: bold;
}
.note_card{
    display:flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    
}
.note_p{
    font-size: 16px;
    font-weight: 400;
    color: #627382;
    line-height: 20px;
    margin-bottom: 44px;
}
.note_item{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 24px;
    height: full;

}
.item_head{
    font-size: 24px;
    font-weight: 600;
    margin: 16px 0px 16px 0px;
    text-align: center;
}
.item_p{
    font-size: 16px;
    font-weight: 400;
    color: #627382;
    line-height: 20px;
    text-align: center;
}



/* Brain Section */

.brain{
    display: flex;
    justify-content: center;
    align-items: center;
}
.brain_msg{
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    color: #469165;
}

.brain_title{
    font-size: 48px;
    font-weight: bold;
    margin-top: 16px;
    margin-bottom: 16px;
}

.brain_dis{
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    color: #627382;
    margin-bottom: 40px;
}

.brain_check p{
    display: flex;
    align-items: center;
    gap: 4px;
}

.Early_Access{
    background-color: #F7F6F2;
    padding-top: 80px;
    padding-bottom: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.Early_Access_title{
    font-size: 40px;
    font-weight: bold;
}
.Early_Access_msg{
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    margin-top: 16px;
    margin-bottom: 24px;
    color: #627382;
}
footer{
    background-color: #001931;
    padding-top: 120px;
}
.footer_main{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 80px;
}
.footer_icon p{
    font-size: 20px;
    font-weight: 500;
    color: white;
    line-height: 28px;
}
.copy{
    font-size: 16px;
    font-weight: 400;
    color: white;
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
}
.footer{
    margin-bottom: 0px;
}